<sl-dialog id="donation" label="Contribute to Our ${{ funding.goal }} Goal" style="--body-spacing:0.75rem 1.25rem">

  <section id="payment-options">
    <p>Enter the amount you'd like to contribute (in USD):</p>

    <sl-form>
      <sl-input
        id="contribution-amount"
        style="margin-bottom:1rem"
        size="medium"
        placeholder=""
        inputmode="numeric"
        minlength="2"
        maxlength="5"
        required
      >
        <sl-icon slot="prefix" library="remixicon" name="finance/money-dollar-circle-fill"></sl-icon>
      </sl-input>

      <p style="text-align:center">
        <sl-button submit type="success" size="large" style="display:block">
          <sl-icon slot="prefix" library="remixicon" name="finance/secure-payment"></sl-icon>
          Checkout with Stripe
        </sl-button>
      </p>
    </sl-form>

    <p style="text-align:center"><em>or</em></p>
    
    <div id="paypal-button-container"></div>

    <hr />

    <p style="text-align:center">Or choose a <a href="https://github.com/sponsors/jaredcwhite?frequency=one-time&sponsor=jaredcwhite" target="_blank">one-time payment option on GitHub</a></p>
  </section>

  <section id="stripe-payment-details" hidden>
    <stripe-payment href="/payment_intents" return-href="{{ '/payment-thanks' | absolute_url }}" public-key="{{ STRIPE_PUBLIC_KEY }}">
      <stripe-payment-footer>
        <sl-input required name="email" type="email" label="Email address" placeholder="me@domain.com" style="font-size:90%; text-align:left; --sl-input-font-size-medium:100%; --sl-input-label-font-size-medium:93%"></sl-input>
        <sl-button type="success">
          <sl-icon slot="suffix" library="remixicon" name="finance/bank-card"></sl-icon>
          Complete Payment
        </sl-button>
      </stripe-payment-footer>
    </stripe-payment>
  </section>

  <sl-button slot="footer" type="primary">Done</sl-button>
</sl-dialog>

<script src="https://www.paypal.com/sdk/js?client-id={{ PAYPAL_CLIENT_ID }}&currency=USD"></script>

<script type="module">
  paypal.Buttons({
    style: {
      layout: "horizontal",
      color: "silver",
      tagline: false
    },

    // Sets up the transaction when a payment button is clicked
    createOrder: function(data, actions) {
      const amount = document.querySelector("#contribution-amount").value

      return actions.order.create({
        purchase_units: [{
          amount: {
            value: amount
          }
        }]
      });
    },

    // Finalize the transaction after payer approval
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(orderData) {
        actions.redirect(document.querySelector("stripe-payment").getAttribute("return-href"))
      });
    }
  }).render('#paypal-button-container');
</script>
