<header>

  <header-background>
    <img src="/images/bridgetown-background.jpg" loading="lazy" alt="dramatic sunset photo of Portland's famed Fremont Bridge" />
  </header-background>

  <header-content>

    <a href="/" style="text-decoration: none"><h1>Bridgetown</h1></a>

    {% render "testimonials" %}

  </header-content>

</header>
